<p>Здравствуйте, <%= user %>!</p>
<p><b><%= client.name %></b> запрашивает доступ к Вашему аккаунту.</p>
<p>Разрешить?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <div>
  <input type="submit" value="Разрешить" id="allow">
  <input type="submit" value="Запретить" name="cancel" id="deny">
  </div>
</form>
